body {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
}

:root {
    --black: #121212;
    --white: #fafafa;
}

#root {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
}