.card_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card_list__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card_list__loader__spinner {
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid var(--black);
    width: 24px;
    height: 24px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}