.arrow-navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.arrow-navigation__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    gap: 10px;
    cursor: pointer;
}

.arrow-navigation__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: #121212;
}

.arrow-navigation__arrow {
    padding: 2px;
}

.arrow-navigation__arrow--right {
    transform: rotate(180deg);
}