.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 27px;
}

.menu__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: var(--black);
}

.menu__item:visited {
    color: var(--black);
}

.menu__counter {
    font-weight: 600;
    font-size: 12px;
    line-height: 200%;
    border: 1px solid var(--black);
    border-radius: 50%;
    padding: 0 8px;
}